header {
    background-color: rgb(58, 115, 117);
    height: 66px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #e6e6e6;
    font-family: 'Lora', serif;
}

* {
    box-sizing: border-box;
}

header * {
    color: white;
}

header .logo {
    float: left;
    /* border: 1px solid red; */
    height: inherit;
    margin-left: 2em;
}

.logo-text {
    margin: 7px;
    /* font-family: 'Candal', sans-serif; */
    font-family: 'Lato', sans-serif;
}

.logo-text span {
    font-size: 1.3em;
    /* color: rgb(243, 233, 167); */
    color: rgb(108, 214, 214);
    font-size: 1.4em;
}

header ul {
    float: right;
    /* border: 1px solid red;    */
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 65.5px;
    right: 0px;
    /* width: 180px; */
    /* width: inherit; */
    min-width: 120px;
    width: 100%;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    /* width: 180px; */
    /* width: auto; */
    /* min-width: 180px; */
    width: 100%;
    /* max-width: 100%; */
}

header ul li ul li a {
    padding: 10px;
    color: grey;
    /* background-color: #c5c7c2; */
    /* background-color: #e6e6e6; */
    background-color: #faf2f2;
    /* width: auto; */
}

header ul li ul li .logout {
    color: rgba(255, 81, 0, 0.726);
}

header ul li ul li a:hover {
    /* background-color: #fcfcfc; */
    background-color: #d1cfcf;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background-color: rgb(6, 86, 88);
    transition: 0.5s;
}